body {font-family:Arial}
h1, h2, h3, h4, h5 ,h6, .nav a {font-family:Roboto;}
.warning-box {background:#f9ede4;}
.error-box {background:#f9e8e8;}
.notice-box {background:#DCE8F7;}
.table .thead-light th {    color: #fff;
    background-color: #3f3f3f;
    padding: .5rem;}
    .table td {padding:.4rem;border-top: 1px solid #ccc;}
.table a i.fa {    font-size: 14px !important;}
.notice-bo h4, .error-box h4, .warning-box h4 {
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    padding-bottom: 6px;
}
.notice-box ul, .error-box ul, .warning-box ul {}
.error-box i, .error-box p {}
.notice-box i, .notice-box p {}
.warning-box i, .warning-box p {}
.warning-box p.description, 
.notice-box p.description, 
.error-box p.description {
    font-size:14px;
    margin-bottom:15px;
    color:#3f3f3f;
}
.google-preview {max-width:650px;}
.google-preview p {font-size:.9rem;}
.row.audit-text .col-md-5 {padding-left:0;}
.col-md-4.breakdown{padding-top:40px;}
.top-bar a.dropdown-toggle {color:#fff;}
.fav-icon .fav {margin:0;padding-top:5px;}
.found-list {
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.clean i {color:#19BF21;}
.view-more a {
    font-size:16px;
    text-transform:  uppercase;
    color:#3f3f3f;
    text-decoration:  underline;
}
#teaser div.col-md-8 {
    background:#f9f9f9;
    border-radius:3px;
    padding:50px;
}
#waiting {text-align:center;padding:50px 0 30px 0;}
#waiting .loading-box img {padding:15px;}
.overview .progressbar {
    padding: 10px;
    background: #eee;
}
.overview .progressbar .col-md-12 {
    padding:0px;
}
.progress {
    border: 1px solid #ccc;
    background-color: #fff;
}
.pricing-page {margin-top:40px;}
.pricing-page .testimonials label {text-align:right;font-weight:bold;display:block;}
.pricing-page .testimonials img {border:1px solid #ccc;padding: 3px;}
img.most {
    margin-right: 3px;
    height: 24px;
    width: 20px;
}
li.nav-item {
    font-size: 17px;
}
.row.Analyze {
    margin-top: 0px;
}
img.audit {
    height: 22px;
    width: 20px;
    margin-left: 0px;
    margin-right: 3px;
}
.col-md-5.text-right h5 {
    font-size: 19px;
}
.nav-link {
    display: block;
    padding: 10px;
}
img.keytrack {
    width: 22px;
    height: 24px;
margin-right: 1px;
}
img.base {
margin-right: 3px;
}
img.case {
margin-right: 3px;
}
img.analytics {
    height: 20px;
margin-right: 6px;
    width: 17px;
    margin-left: 0px;
}
span.icons {
    margin-right: 6px;
}
.clear {
clear: both;
}
.pass {
width: 20%;
float: left;
margin-right: 20px; 
}
.cta {
width: 20%;
float: left;
margin-right: 20px;
}
.mca {
width: 20%;
float: left;
margin-right: 20px;
}
.pta {
width: 20%;
float: left;
margin-right: 20px;
}
.favicon{
    display: flex;
}
.fav-icon{
    width: 30px !important;
    height: 30px !important;
}
p.match {
    margin-bottom: 10px!important;
}
.icon{
    margin-right: 5px;
}
.icon > img{
    width: 20px;
}
.logo >img{
    width:190px !important;
}
@media screen and (min-width: 768px) {
.side-bar {
    height: 100%;
    width: 250px;
    left: 0;
    top: 55px;
    position: fixed;
}
.row.top-bar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
}
@media screen and (max-width: 767px) {
    .content {
        width: 320px;
        height: 200px;
        left: 50%;
        margin-left: -210px;
        overflow: hidden;
      }

p.match {
    margin-bottom: 20px!important;
}
.col-md-5.text-right h5 {
    font-size: 16px;
}
.clear {
    margin-top: 50px;
}
.sectionmap {
margin-top: 20px;
margin-bottom: 110px;
}
.pta {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}
.cta {
    width: 21%;
    float: left;
    margin-right: 20px;
    font-size: 14px;
}
.pass {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}.mca {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}
.overview {
    padding: 0px!important;
    
}
.Welcome-two-cols .Quick-col, .Welcome-two-cols .plan-col {
       margin: 10px;
    max-width: 100%;
    border: 1px solid lightgray;
    background-color: #f4f4f4;
    padding: 20px;
}
.row.Welcome-two-cols {
    margin-bottom: 150px;
}
button.btn.btn-primary {
    margin-top: 10px!important;
}
.side-col {
    min-height: 388px;
}
.col-md-12.text-start h5 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.col-md-6.text-right {
    margin-top: -32px;
    margin-bottom: 0px;
}

input#analyze {
    margin-bottom: 18px;
}
.overview .progressbar .progress {
margin-top: 10px;
    width: 100%;
margin-bottom: 10px;
}
.overview .Analyze .btn {
    width: 100%;
    margin-left: 0%;
}

h5#url {
    padding-top: 13px;
    font-size: 20px;
}
.row.audit-text.pt-3.pb-3 h5 {
    float: left;
}
h2 {
    margin-left: 27px;
}

table.table {
    margin-top: 20px;
}
input#seo_audit {
    margin-bottom: 20px;
}
.overview .four-cols .col-md-3 {
    border: 2px solid #f4f4f4;
    padding: 13px;
    text-align: center;
    margin: 7px;
    max-width: 100%;
}
.Back-to-audit {
    margin-left: 14px;
    width: 42%;
    font-weight: 700;
    font-size: 18px;
}
.row.errors-table h4 {
    margin-top: 22px;
}

}


